{% extends 'base.html' %}
{% block content %}


<h1 style='color: black'> Welcome to <span style="color: #607d8b"> Car Collector</span> !</h1>
<hr>
<div class="row">
    <div class="col s3">
        <img class="responsive-img card small" src="https://cdn.pixabay.com/photo/2019/07/07/14/03/fiat-4322521_1280.jpg">
    </div>
    <div class="col s3">
        <img class="responsive-img card small" src="https://cdn.pixabay.com/photo/2015/12/15/09/20/car-1093927_1280.jpg">
    </div>
    <div class="col s3">
        <img class="responsive-img card small" src="https://cdn.pixabay.com/photo/2016/11/18/15/58/car-1835506_1280.jpg">
    </div>
    <div class="col s3">
        <img class="responsive-img card small" src="https://images.pexels.com/photos/1592384/pexels-photo-1592384.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
</div>

<hr>

<div class="row">
<div class="col s12 m7">
    <h2 class="header" style="color: #607d8b">History of automobile</h2>
    <div class="card horizontal">
        <div class="card-image small">
            <img src="https://cdn.pixabay.com/photo/2014/06/04/16/36/car-repair-362150_1280.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>The early history of the automobile can be divided into a number of eras, based on the prevalent means of propulsion. Later periods were defined by trends in exterior styling, size, and utility preferences.</p>
            </div>
            <div class="card-action">
                <a href="https://en.wikipedia.org/wiki/Car">Read More</a>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}